.special-241217 {
  box-sizing: border-box;
}
.special-241217 * {
  margin: 0;
  padding: 0;
}
.special-241217 *,
.special-241217 *::before,
.special-241217 *::after {
  box-sizing: inherit;
}
.special-241217 div,
.special-241217 span,
.special-241217 applet,
.special-241217 object,
.special-241217 iframe,
.special-241217 h1,
.special-241217 h2,
.special-241217 h3,
.special-241217 h4,
.special-241217 h5,
.special-241217 h6,
.special-241217 p,
.special-241217 blockquote,
.special-241217 pre,
.special-241217 a,
.special-241217 abbr,
.special-241217 acronym,
.special-241217 address,
.special-241217 big,
.special-241217 cite,
.special-241217 code,
.special-241217 del,
.special-241217 dfn,
.special-241217 em,
.special-241217 img,
.special-241217 ins,
.special-241217 kbd,
.special-241217 q,
.special-241217 s,
.special-241217 samp,
.special-241217 small,
.special-241217 strike,
.special-241217 strong,
.special-241217 sub,
.special-241217 sup,
.special-241217 tt,
.special-241217 var,
.special-241217 b,
.special-241217 u,
.special-241217 i,
.special-241217 center,
.special-241217 dl,
.special-241217 dt,
.special-241217 dd,
.special-241217 ol,
.special-241217 ul,
.special-241217 li,
.special-241217 fieldset,
.special-241217 form,
.special-241217 label,
.special-241217 legend,
.special-241217 table,
.special-241217 caption,
.special-241217 tbody,
.special-241217 tfoot,
.special-241217 thead,
.special-241217 tr,
.special-241217 th,
.special-241217 td,
.special-241217 article,
.special-241217 aside,
.special-241217 canvas,
.special-241217 details,
.special-241217 embed,
.special-241217 figure,
.special-241217 figcaption,
.special-241217 footer,
.special-241217 header,
.special-241217 hgroup,
.special-241217 menu,
.special-241217 nav,
.special-241217 output,
.special-241217 ruby,
.special-241217 section,
.special-241217 summary,
.special-241217 time,
.special-241217 mark,
.special-241217 audio,
.special-241217 video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
.special-241217 article,
.special-241217 aside,
.special-241217 details,
.special-241217 figcaption,
.special-241217 figure,
.special-241217 footer,
.special-241217 header,
.special-241217 hgroup,
.special-241217 menu,
.special-241217 nav,
.special-241217 section {
  display: block;
}
.special-241217 body {
  line-height: 1;
}
.special-241217 ol,
.special-241217 ul {
  list-style: none;
}
.special-241217 blockquote,
.special-241217 q {
  quotes: none;
}
.special-241217 blockquote:before,
.special-241217 blockquote:after,
.special-241217 q:before,
.special-241217 q:after {
  content: none;
}
.special-241217 table {
  border-collapse: collapse;
  border-spacing: 0;
}
.special-241217 img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.special-241217 a {
  text-decoration: none;
}
.special-241217 .reset {
  transition: none !important;
  animation: none !important;
}
.special-241217 .reset * {
  transition: none !important;
  animation: none !important;
}

@media screen and (max-width: 749px) {
  .special-241217 .pc {
    display: none !important;
  }
  .special-241217 .flex-sp {
    display: flex;
  }
  .special-241217 .flex-sp.space-between {
    justify-content: space-between;
  }
  .special-241217 .flex-sp.justify-center {
    justify-content: center;
  }
  .special-241217 .flex-sp.justify-end {
    justify-content: flex-end;
  }
  .special-241217 .flex-sp.align-center {
    align-items: center;
  }
  .special-241217 .flex-sp.align-end {
    align-items: flex-end;
  }
  .special-241217 .flex-sp.flex-wrap {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 750px) {
  .special-241217 .sp {
    display: none !important;
  }
  .special-241217 .flex {
    display: flex;
  }
  .special-241217 .flex.space-between {
    justify-content: space-between;
  }
  .special-241217 .flex.justify-center {
    justify-content: center;
  }
  .special-241217 .flex.justify-end {
    justify-content: flex-end;
  }
  .special-241217 .flex.align-center {
    align-items: center;
  }
  .special-241217 .flex.align-end {
    align-items: flex-end;
  }
  .special-241217 .flex.flex-wrap {
    flex-wrap: wrap;
  }
}
@keyframes letterUp {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -101%, 0);
  }
}
@keyframes letterDown {
  0% {
    transform: translate3d(0, 101%, 0);
  }
  100% {
    transform: translate3d(0, 101%, 0);
  }
}
@keyframes letterActive {
  0% {
    transform: translate3d(0, 101%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.special-241217 {
  font-family: "Hiragino Kaku Gothic Pro";
  text-align: justify;
  color: #000000;
  background-color: #ffffff;
}
.special-241217 .absolute {
  position: absolute;
}
.special-241217 .underline-decoration {
  text-decoration: underline;
}
.special-241217 .text-center {
  text-align: center;
}
.special-241217 .bold {
  font-weight: bold;
}
.special-241217 .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.special-241217 .futura {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .special-241217.loaded #section1 .kv, .special-241217.loaded #section1 .kv h1 {
    opacity: 1;
  }
  .special-241217.loaded #section1 .kv {
    transform: translate3d(-50%, 0, 0);
  }
  .special-241217.loaded #section1 .kv h1 {
    transform: translate3d(0, 0, 0);
  }
  .special-241217 .fade {
    opacity: 0;
    transform: translate3d(0, 5.3333333333vw, 0);
    will-change: opacity, transform;
    transition: opacity 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .fade.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .special-241217 .swiper-pagination-wrapper {
    display: none;
  }
  .special-241217 .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background-color: #ffffff;
    will-change: opacity;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s 0.5s;
  }
  .special-241217 .modal__inner {
    position: relative;
    margin: 0 auto;
    width: 89.3333333333vw;
  }
  .special-241217 .modal-close {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 21.8666666667vw;
    width: 21.8666666667vw;
    z-index: 2;
  }
  .special-241217 .modal-close div {
    position: relative;
    height: 9.6vw;
    width: 9.6vw;
  }
  .special-241217 .modal-close div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    height: 1px;
    width: 120%;
    background-color: #000000;
  }
  .special-241217 .modal-close div p:nth-child(1) {
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
  }
  .special-241217 .modal-close div p:nth-child(2) {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  }
  .special-241217 .modal.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s 0s;
  }
  .special-241217 .modal .swiper-wrapper {
    padding: 21.8666666667vw 0;
    height: auto;
    margin: 0 auto;
    width: 89.3333333333vw;
    display: block;
  }
  .special-241217 .modal .swiper-slide {
    margin-bottom: 13.3333333333vw;
    height: auto;
  }
  .special-241217 .modal .swiper-slide:last-child {
    margin-bottom: 0;
  }
  .special-241217 .modal .item-index {
    margin-bottom: 2.6666666667vw;
    font-size: 1.4rem;
    font-size: 7.4666666667vw;
    font-weight: bold;
    font-family: linotype-didot, serif;
    width: 100%;
  }
  .special-241217 .modal .item-image {
    margin-bottom: 2.6666666667vw;
  }
  .special-241217 .modal .item-content__inner {
    display: flex;
    flex-direction: column;
  }
  .special-241217 .modal .item-title {
    margin-bottom: 2.6666666667vw;
    font-size: 0.9rem;
    font-size: 4.8vw;
    font-weight: bold;
    line-height: 130%;
    order: 2;
  }
  .special-241217 .modal .item-text {
    margin-bottom: 10.6666666667vw;
    font-size: 0.7rem;
    font-size: 3.7333333333vw;
    line-height: 160%;
    order: 3;
  }
  .special-241217 .modal .item-note {
    margin-bottom: 8vw;
    font-size: 0.525rem;
    font-size: 2.8vw;
    line-height: 150%;
    color: #737373;
    order: 1;
  }
  .special-241217 .modal .item .text-center {
    order: 4;
  }
  .special-241217 #bottom {
    padding: 24vw 0;
  }
  .special-241217 #bottom .section-text {
    letter-spacing: 0;
  }
  .special-241217 #bottom .section-text .underline {
    position: relative;
    margin-bottom: 8vw;
    padding-bottom: 2.6666666667vw;
    display: inline-block;
  }
  .special-241217 #bottom .section-text .underline::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
  }
  .special-241217 #bottom .section-credit {
    margin-top: 16vw;
    margin-bottom: 16vw;
    letter-spacing: 0;
  }
  .special-241217 #bottom .section-credit .underline {
    position: relative;
    margin-bottom: 5.7333333333vw;
    padding-bottom: 1.3333333333vw;
    display: inline-block;
  }
  .special-241217 #bottom .section-credit .underline::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
  }
  .special-241217 #bottom .top {
    font-size: 0.8rem;
    font-size: 4.2666666667vw;
    color: #000000;
  }
  .special-241217 #bottom .btn {
    margin: 8vw auto 16vw;
  }
  .special-241217 #bottom ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .special-241217 #bottom ul li {
    margin-right: 8vw;
    width: 7.4666666667vw;
  }
  .special-241217 #bottom ul li:last-child {
    margin-right: 0;
  }
  .special-241217 .fade {
    opacity: 0;
    transform: translate3d(0, 1.3888888889vw, 0);
    will-change: opacity, transform;
    transition: opacity 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .fade.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .special-241217 .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 16vw;
    width: 63.2vw;
    text-align: center;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: #000000;
    will-change: background-color;
    transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .btn:active {
    background-color: #ffffff;
  }
  .special-241217 .btn:active .btn-text {
    color: #000000;
  }
  .special-241217 .btn:active .btn-icon svg * {
    stroke: #000000;
  }
  .special-241217 .btn.white {
    border: 1px solid #ffffff;
  }
  .special-241217 .btn.black {
    border: 1px solid #000000;
    background-color: #000000;
  }
  .special-241217 .btn.black:hover {
    background-color: #ffffff;
  }
  .special-241217 .btn.black:hover .btn-text {
    color: #000000;
  }
  .special-241217 .btn-text {
    font-size: 0.6rem;
    font-size: 3.2vw;
    line-height: 1.6;
    letter-spacing: 0.24vw;
    color: #ffffff;
    will-change: color;
    transition: color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .btn-icon {
    position: absolute;
    top: 50%;
    right: 5.3333333333vw;
    transform: translate3d(0, -50%, 0);
    width: 4.8vw;
  }
  .special-241217 .btn-icon svg * {
    will-change: stroke;
    transition: stroke 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .section#section1 .promotion {
    position: absolute;
    top: 5.3333333333vw;
    right: 6.6666666667vw;
    font-size: 0.4rem;
    font-size: 2.1333333333vw;
    letter-spacing: 0.2133333333vw;
    color: #ffffff;
    z-index: 1;
  }
  .special-241217 .section#section1 .kv-image {
    position: relative;
    margin-bottom: 5.3333333333vw;
  }
  .special-241217 .section#section1 .kv-content div {
    margin: 0 auto;
    width: 89.3333333333vw;
  }
  .special-241217 .section#section1 .kv-content .image {
    display: none;
  }
  .special-241217 .section#section1 .kv-content h1 {
    margin-bottom: 3.7333333333vw;
    font-size: 0.9rem;
    font-size: 4.8vw;
    line-height: 130%;
    font-weight: bold;
  }
  .special-241217 .section#section2 {
    padding-top: 13.3333333333vw;
  }
  .special-241217 .section#section3 {
    padding-top: 13.3333333333vw;
  }
  .special-241217 .section#section4 {
    padding-bottom: 50px;
  }
  .special-241217 .section#section5 {
    padding-top: 13.3333333333vw;
  }
  .special-241217 .section__inner {
    margin: 0 auto;
    width: 89.3333333333vw;
  }
  .special-241217 .section-text {
    font-size: 0.7rem;
    font-size: 3.7333333333vw;
    line-height: 160%;
  }
  .special-241217 .section-title {
    font-size: 2.4rem;
    font-size: 12.8vw;
    line-height: 100%;
    font-weight: bold;
    font-family: linotype-didot, serif;
    margin-bottom: 13.3333333333vw;
  }
  .special-241217 .section-credit {
    margin-top: 8vw;
    font-size: 0.6rem;
    font-size: 3.2vw;
    line-height: 160%;
  }
  .special-241217 .section-btn {
    margin-top: 8vw;
  }
  .special-241217 .section .item-wrapper {
    flex-wrap: wrap;
  }
  .special-241217 .section .item-wrapper .item {
    margin-right: 4vw;
    margin-bottom: 10.6666666667vw;
    width: 42.6666666667vw;
  }
  .special-241217 .section .item-wrapper .item:active img {
    opacity: 0.8;
    transform: scale(1.05);
  }
  .special-241217 .section .item-wrapper .item:nth-child(2n) {
    margin-right: 0;
  }
  .special-241217 .section .item-wrapper .item-image {
    position: relative;
    overflow: hidden;
  }
  .special-241217 .section .item-wrapper .item-image::before {
    content: "";
    padding-top: 100%;
    display: block;
  }
  .special-241217 .section .item-wrapper .item-image picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .special-241217 .section .item-wrapper .item-image picture img {
    width: opacity, transform;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .section .item-wrapper .item-icon {
    right: 0;
    bottom: 0;
    background-color: #000000;
    display: none;
  }
  .special-241217 .section .item-wrapper .item-text {
    margin-top: 5.3333333333vw;
    font-size: 0.7rem;
    font-size: 3.7333333333vw;
    line-height: 160%;
    font-weight: bold;
  }
  .special-241217 .section .play-playful {
    margin-bottom: 13.3333333333vw;
  }
  .special-241217 .section .play-playful-title {
    margin: 0 auto 13.3333333333vw;
    width: 89.3333333333vw;
  }
  .special-241217 .section .play-playful-wrapper {
    margin-bottom: 5.3333333333vw;
  }
  .special-241217 .section .play-playful-wrapper .image {
    position: relative;
    left: 50%;
    width: 100vw;
    transform: translate3d(-50%, 5.3333333333vw, 0);
    margin-bottom: 1.3333333333vw;
  }
  .special-241217 .section .play-playful-wrapper .image.active {
    transform: translate3d(-50%, 0, 0);
  }
  .special-241217 .section .play-playful-wrapper .image:last-child {
    margin-bottom: 0;
  }
  .special-241217 .section .play-playful .box {
    margin: 0 auto;
    width: 89.3333333333vw;
  }
  .special-241217 .section .box-content h2 {
    margin-bottom: 2.6666666667vw;
    font-size: 0.9rem;
    font-size: 4.8vw;
    line-height: 130%;
    font-weight: bold;
  }
  .special-241217 .section .box-content .note {
    margin-top: 8vw;
    color: #737373;
    font-size: 0.525rem;
    font-size: 2.8vw;
    line-height: 150%;
  }
  .special-241217 .section .wrapper {
    width: 100%;
  }
  .special-241217 .section .wrapper .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 13.3333333333vw;
  }
  .special-241217 .section .wrapper .box:last-child, .special-241217 .section .wrapper .box.nm {
    margin-bottom: 0;
  }
  .special-241217 .section .wrapper .box-image {
    position: relative;
    left: 50%;
    width: 100vw;
    margin-bottom: 5.3333333333vw;
    transform: translate3d(-50%, 5.3333333333vw, 0);
    order: 1;
  }
  .special-241217 .section .wrapper .box-image.right picture, .special-241217 .section .wrapper .box-image.left picture {
    display: block;
    width: 84vw;
  }
  .special-241217 .section .wrapper .box-image.right picture {
    margin: 0 0 0 auto;
  }
  .special-241217 .section .wrapper .box-image.left picture {
    margin: 0 auto 0 0;
  }
  .special-241217 .section .wrapper .box-image.active {
    transform: translate3d(-50%, 0, 0);
  }
  .special-241217 .section .wrapper .box-content {
    width: 100%;
    order: 2;
  }
}
@media screen and (min-width: 768px) {
  .special-241217.loaded #section1 .kv, .special-241217.loaded #section1 .kv h1 {
    opacity: 1;
  }
  .special-241217.loaded #section1 .kv {
    transform: translate3d(-50%, 0, 0);
  }
  .special-241217.loaded #section1 .kv h1 {
    transform: translate3d(0, 0, 0);
  }
  .special-241217 .fade {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    will-change: opacity, transform;
    transition: opacity 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .fade.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .special-241217 .swiper-pagination-wrapper {
    position: relative;
    width: 256px;
    margin: 50px auto 0;
  }
  .special-241217 .swiper-pagination-wrapper .swiper-button-next, .special-241217 .swiper-pagination-wrapper .swiper-button-prev {
    top: auto;
    bottom: auto;
    width: 16px;
  }
  .special-241217 .swiper-pagination-wrapper .swiper-button-next::after, .special-241217 .swiper-pagination-wrapper .swiper-button-prev::after {
    display: none;
  }
  .special-241217 .swiper-pagination-wrapper .swiper-button-prev {
    left: 0;
    right: auto;
  }
  .special-241217 .swiper-pagination-wrapper .swiper-button-next {
    left: auto;
    right: 0;
  }
  .special-241217 .swiper-pagination-wrapper .wrapper {
    margin: 0 86px;
  }
  .special-241217 .swiper-pagination-wrapper .wrapper p {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    font-family: linotype-didot, serif;
    overflow: hidden;
  }
  .special-241217 .swiper-pagination-wrapper .wrapper p::before {
    content: "0";
    color: transparent;
  }
  .special-241217 .swiper-pagination-wrapper .wrapper p.max::before {
    margin: 0 5px;
    content: "/";
    color: #000000;
  }
  .special-241217 .swiper-pagination-wrapper .wrapper p span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    animation: letterDown 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
  .special-241217 .swiper-pagination-wrapper .wrapper p span.active {
    animation: letterActive 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
  .special-241217 .swiper-pagination-wrapper .wrapper p span.up {
    animation: letterUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
  .special-241217 .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background-color: #ffffff;
    will-change: opacity;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s 0.5s;
  }
  .special-241217 .modal__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8.3333333333%;
    width: 80.4166666667%;
    height: 100%;
  }
  .special-241217 .modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 48px;
    right: 0;
    height: 82px;
    width: 82px;
    cursor: pointer;
    z-index: 2;
  }
  .special-241217 .modal-close div {
    position: relative;
    height: 36px;
    width: 36px;
  }
  .special-241217 .modal-close div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    height: 1px;
    width: 120%;
    background-color: #000000;
  }
  .special-241217 .modal-close div p:nth-child(1) {
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
  }
  .special-241217 .modal-close div p:nth-child(2) {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  }
  .special-241217 .modal.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0s 0s;
  }
  .special-241217 .modal .item-image {
    width: 50.9499136442%;
  }
  .special-241217 .modal .item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42.1416234888%;
  }
  .special-241217 .modal .item-content__inner {
    width: 100%;
  }
  .special-241217 .modal .item-title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
  }
  .special-241217 .modal .item-text {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 180%;
  }
  .special-241217 .modal .item-note {
    margin-bottom: 60px;
    font-size: 12px;
    line-height: 180%;
    color: #737373;
  }
  .special-241217 #bottom {
    padding: 120px 0;
  }
  .special-241217 #bottom .section-text {
    letter-spacing: 0;
  }
  .special-241217 #bottom .section-text .underline {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 5px;
    display: inline-block;
  }
  .special-241217 #bottom .section-text .underline::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
  }
  .special-241217 #bottom .section-credit {
    margin-bottom: 60px;
    letter-spacing: 0;
  }
  .special-241217 #bottom .section-credit .underline {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 5px;
    display: inline-block;
  }
  .special-241217 #bottom .section-credit .underline::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
  }
  .special-241217 #bottom .top {
    font-size: 16px;
    color: #000000;
  }
  .special-241217 #bottom .btn {
    margin: 60px auto;
  }
  .special-241217 #bottom ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .special-241217 #bottom ul li {
    margin-right: 40px;
    width: 28px;
  }
  .special-241217 #bottom ul li:last-child {
    margin-right: 0;
  }
  .special-241217 .fade {
    opacity: 0;
    transform: translate3d(0, 1.3888888889vw, 0);
    will-change: opacity, transform;
    transition: opacity 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .fade.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .special-241217 .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 386px;
    max-width: 100%;
    text-align: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    background-color: #000000;
    will-change: background-color;
    transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
  }
  .special-241217 .btn:hover {
    background-color: #ffffff;
  }
  .special-241217 .btn:hover .btn-text {
    color: #000000;
  }
  .special-241217 .btn:hover .btn-icon svg * {
    stroke: #000000;
  }
  .special-241217 .btn.white {
    border: 1px solid #ffffff;
  }
  .special-241217 .btn.black {
    border: 1px solid #000000;
    background-color: #000000;
  }
  .special-241217 .btn.black:hover {
    background-color: #ffffff;
  }
  .special-241217 .btn.black:hover .btn-text {
    color: #000000;
  }
  .special-241217 .btn-text {
    font-size: 16px;
    letter-spacing: 0.96px;
    color: #ffffff;
    will-change: color;
    transition: color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .btn-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate3d(0, -50%, 0);
    width: 30px;
  }
  .special-241217 .btn-icon svg * {
    will-change: stroke;
    transition: stroke 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .section#section1 .promotion {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #000000;
    z-index: 1;
  }
  .special-241217 .section#section1 .kv {
    display: flex;
  }
  .special-241217 .section#section1 .kv-image {
    position: relative;
    width: 49.3055555556%;
  }
  .special-241217 .section#section1 .kv-content {
    position: relative;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 49.3055555556%;
  }
  .special-241217 .section#section1 .kv-content div {
    margin-top: auto;
  }
  .special-241217 .section#section1 .kv-content .image {
    margin: 0 auto 60px;
    width: 63.3802816901%;
  }
  .special-241217 .section#section1 .kv-content h1 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 160%;
    font-weight: bold;
  }
  .special-241217 .section#section1 .kv-content .section-text {
    margin: 0 auto;
    width: 66.1971830986%;
  }
  .special-241217 .section#section2 {
    padding-top: 90px;
  }
  .special-241217 .section#section3 {
    padding-top: 120px;
  }
  .special-241217 .section#section4 {
    padding-bottom: 90px;
  }
  .special-241217 .section#section5 {
    padding-top: 90px;
  }
  .special-241217 .section__inner {
    margin: 0 auto;
    width: 83.3333333333%;
  }
  .special-241217 .section-text {
    font-size: 16px;
    line-height: 180%;
  }
  .special-241217 .section-title {
    font-size: 72px;
    font-weight: bold;
    font-family: linotype-didot, serif;
    margin-bottom: 90px;
  }
  .special-241217 .section-credit {
    margin-top: 60px;
    font-size: 12px;
    letter-spacing: 0.7px;
    line-height: 1.6;
  }
  .special-241217 .section-btn {
    margin-top: 120px;
  }
  .special-241217 .section .item-wrapper {
    flex-wrap: wrap;
  }
  .special-241217 .section .item-wrapper .item {
    margin-right: 3.75%;
    margin-bottom: 60px;
    width: 22.1666666667%;
    cursor: pointer;
  }
  .special-241217 .section .item-wrapper .item:hover img {
    opacity: 0.8;
    transform: scale(1.05);
  }
  .special-241217 .section .item-wrapper .item:nth-child(4n) {
    margin-right: 0;
  }
  .special-241217 .section .item-wrapper .item-image {
    position: relative;
    overflow: hidden;
  }
  .special-241217 .section .item-wrapper .item-image::before {
    content: "";
    padding-top: 100%;
    display: block;
  }
  .special-241217 .section .item-wrapper .item-image picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .special-241217 .section .item-wrapper .item-image picture img {
    width: opacity, transform;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .special-241217 .section .item-wrapper .item-icon {
    right: 0;
    bottom: 0;
    background-color: #000000;
    display: none;
  }
  .special-241217 .section .item-wrapper .item-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 120%;
    font-weight: bold;
  }
  .special-241217 .section .play-playful {
    margin-bottom: 120px;
  }
  .special-241217 .section .play-playful-title {
    margin: 0 auto 120px;
    width: 40.9722222222%;
  }
  .special-241217 .section .play-playful-wrapper {
    margin-bottom: 70px;
  }
  .special-241217 .section .play-playful-wrapper .image {
    width: 49.7916666667%;
  }
  .special-241217 .section .play-playful .box {
    margin: 0 auto;
    width: 55.1388888889%;
  }
  .special-241217 .section .play-playful .box-content {
    width: 100%;
  }
  .special-241217 .section .box-content {
    width: 40.6666666667%;
  }
  .special-241217 .section .box-content h2 {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 120%;
    font-weight: bold;
  }
  .special-241217 .section .box-content .note {
    margin-top: 60px;
    color: #737373;
    font-size: 12px;
    line-height: 160%;
  }
  .special-241217 .section .wrapper {
    width: 100%;
  }
  .special-241217 .section .wrapper.reverse .box {
    flex-direction: row-reverse;
  }
  .special-241217 .section .wrapper.reverse .box:nth-child(2n) {
    flex-direction: initial;
  }
  .special-241217 .section .wrapper .box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 120px;
  }
  .special-241217 .section .wrapper .box:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .special-241217 .section .wrapper .box:last-child, .special-241217 .section .wrapper .box.nm {
    margin-bottom: 0;
  }
  .special-241217 .section .wrapper .box-image {
    width: 49.1666666667%;
  }
}