<a href="<%- link %>" class="button <%- className %>">
    <span class="button-text source-han-sans-jp bold">記事をチェック</span>
    <span class="button-arrow">
        <%- include('./svg/_gridicons_arrow-up') %>
    </span>
</a>