<div class="card">
  <!-- 裏面のコンテンツ -->
  <div class="back">
    <img src="./assets/img/back.png" alt="" />
  </div>
  <!-- 表面のコンテンツ -->
  <div class="front">
    <img src="./assets/img/front.png" alt="" />
  </div>
</div>