<link rel="dns-prefetch" href="//www.googletagmanager.com/">
<link rel="preconnect" href="//www.googletagmanager.com/">
<link rel="dns-prefetch" href="//csm.cxpublic.com/">
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no">
<title>今田美桜とヴィンテージの密やかな共犯関係。｜FASHION｜madameFIGARO.jp（フィガロジャポン）</title>
<meta name="title" content="今田美桜とヴィンテージの密やかな共犯関係。｜FASHION｜madameFIGARO.jp（フィガロジャポン）"/>
<meta name="keywords" content="今田美桜, ヴィンテージ, パリ, フレンチシック, ファッション"/>
<meta name="description" content="ヴィンテージをこよなく愛する俳優の今田美桜が表現するフレンチシックなスタイル。"/>
<meta name="viewport" content="width=device-width, user-scalable=no"/>
<meta property="og:title" content="今田美桜とヴィンテージの密やかな共犯関係。｜FASHION｜madameFIGARO.jp（フィガロジャポン）"/>
<meta property="og:description" content="ヴィンテージをこよなく愛する俳優の今田美桜が表現するフレンチシックなスタイル。"/>
<meta property="og:image" content="https://madamefigaro.jp/fashion/250420/mio-imada-vintage-og.jpg"/>
<meta property="og:site_name" content="madameFIGARO.jp（フィガロジャポン）"/>
<meta property="og:url" content="https://madamefigaro.jp/fashionl/250420-mio-imada-vintage/"/>
<meta property="og:locale" content="ja_JP" itemprop="inLanguage"/>
<meta property="fb:app_id" content="1131647870256428"/>
<meta name="twitter:title" content="今田美桜とヴィンテージの密やかな共犯関係。"/>
<meta name="twitter:description" content="ヴィンテージをこよなく愛する俳優の今田美桜が表現するフレンチシックなスタイル。"/>
<meta name="twitter:image" content="https://madamefigaro.jp/fashion/250420-mio-imada-vintage-og.jpg"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@madameFIGARO_jp"/>
<meta name="twitter:creator" content="@madameFIGARO_jp"/>
<meta name="twitter:url" content="https://madamefigaro.jp/fashionl/250420-mio-imada-vintage.html"/>
<meta name="twitter:widgets:csp" content="on"/>
<meta name="google-site-verification" content="SpqFBhePoLmJ34eyDCD6N7gJXfNFtSrG6Fu2wujzaRc"/>
<meta property="og:type" content="article"/>
<meta name="cXenseParse:recs:articleid" content=" fashion/250420-mio-imada-vintage.html"/>
<meta name="cXenseParse:ccc-category" content="FASHION"/>
<meta property="article:published_time" content="2025-04-20T10:00:00+09:00">
<meta name="cXenseParse:ccc-pubyear" content="2025"/>
<meta name="cXenseParse:ccc-pubmonth" content="202504"/>
<meta name="cXenseParse:ccc-pubday" content="20250420"/>
<meta name="cXenseParse:ccc-tieup" content="true"/>
<meta property="cXenseParse:author" content="madameFIGARO.jp"/>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PJZWT8');</script>
<!-- End Google Tag Manager -->
<link rel="shortcut icon" href="https://madamefigaro.jp/favicon.ico"/>
<link rel="apple-touch-icon" href="https://madamefigaro.jp/webclip_150x150.png"/>
