/* ==========================================================
Figaro
Created: 2021-07

Article Solo Arcive
========================================================== */
/*/////////////////////////////
- 1.soloArchive
- 2.
- 3.
- 4.
- 5.
/////////////////////////////*/
/* 1.soloArchive
* ------------------------- */
.soloArchive .wrap .lyt .side {
  display: none;
}
.soloArchive .wrap .mainCol .heading .visual {
  position: relative;
}
.soloArchive .wrap .mainCol .heading .visual:before {
  content: "";
  display: block;
  border-bottom: #000 1px solid;
  padding-top: 3px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.soloArchive .wrap .mainCol .heading .visual .title {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 4;
  -webkit-transition: opacity .8s .2s ease;
  transition: opacity .8s .2s ease;
}
.soloArchive .wrap .mainCol .heading .visual .title .hdg02 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
}
.soloArchive .wrap .mainCol .heading .visual .title .hdg02 span {
  display: block;
}
.soloArchive .wrap .mainCol .heading .visual .title .hdg02 .m {
  font-size: 1.4615384615rem;
  letter-spacing: .2em;
  line-height: 1.3;
}
.soloArchive .wrap .mainCol .heading .visual .title .hdg02 .s {
  font-size: 0.9230769231rem;
  letter-spacing: .04em;
  line-height: 1;
  margin-top: 0.5384615385rem;
}
.soloArchive .wrap .mainCol .heading .visual .image {
  position: relative;
}
.soloArchive .wrap .mainCol .heading .visual .image span {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.soloArchive .wrap .mainCol .heading .visual .image span:before {
  content: "";
  display: block;
  padding-top: 50%;
  opacity: 0;
  position: relative;
  z-index: 3;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.soloArchive .wrap .mainCol .heading .visual .image span:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.15);
}
.soloArchive .wrap .mainCol .heading .detail {
  margin-top: 6.6666666667%;
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.soloArchive .wrap .mainCol .heading .detail .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 76.5217391304%;
  padding-right: 3.6231884058%;
}
.soloArchive .wrap .mainCol .heading .detail .column .title {
  font-size: 1.1538461538rem;
  font-weight: bold;
  letter-spacing: .04em;
  line-height: 1.4;
}
.soloArchive .wrap .mainCol .heading .detail .column .text {
  font-size: 0.9230769231rem;
  letter-spacing: .04em;
  line-height: 1.6666666667;
  margin-top: 0.6153846154rem;
}
.soloArchive .wrap .mainCol .heading .detail .toAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: #dcdcdc 1px solid;
}
.soloArchive .wrap .mainCol .heading .detail .toAll .in {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.soloArchive .wrap .mainCol .heading .detail .toAll .n {
  line-height: 1;
}
.soloArchive .wrap .mainCol .heading .detail .toAll .n span {
  display: block;
}
.soloArchive .wrap .mainCol .heading .detail .toAll .n .num {
  font-size: 1.9230769231rem;
  font-weight: 300;
}
.soloArchive .wrap .mainCol .heading .detail .toAll .n .t {
  font-size: 0.9230769231rem;
}
.soloArchive .wrap .mainCol .body {
  margin-top: 6.6666666667%;
  padding: 0 4%;
}
.soloArchive .wrap .mainCol .body .foot .more {
  text-align: center;
  line-height: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.soloArchive .wrap .mainCol .body .foot .more a {
  font-size: 1.3846153846rem;
  display: inline-block;
  position: relative;
}
.soloArchive .wrap .mainCol .body .foot .more a:before {
  content: "";
  display: block;
  height: 1.0769230769rem;
  position: absolute;
  top: 1rem;
  right: -0.3846153846rem;
  left: -0.3846153846rem;
  background: #50a07f;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform .2s .4s ease;
  transition: -webkit-transform .2s .4s ease;
  transition: transform .2s .4s ease;
  transition: transform .2s .4s ease, -webkit-transform .2s .4s ease;
}
.soloArchive .wrap .mainCol .body .foot .more a span {
  position: relative;
  z-index: 3;
}
.soloArchive .wrap .mainCol .body .foot.is-hidden .more {
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}
.soloArchive .wrap .mainCol .body .foot.is-hidden .more a:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: none;
  transition: none;
}
.soloArchive .wrap .mainCol .body .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.soloArchive .wrap .mainCol .body .articles .col {
  width: 47.8260869565%;
  margin-bottom: 6.5217391304%;
}
.soloArchive .wrap .mainCol .body .articles .col a {
  display: block;
}
.soloArchive .wrap .mainCol .body .articles .col .image {
  overflow: hidden;
}
.soloArchive .wrap .mainCol .body .articles .col .image span {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.soloArchive .wrap .mainCol .body .articles .col .image span:before {
  content: "";
  display: block;
  padding-top: 66.6666666667%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.soloArchive .wrap .mainCol .body .articles .col .data {
  margin-top: 0.5384615385rem;
  opacity: 1;
  -webkit-transition: opacity .8s .2s ease;
  transition: opacity .8s .2s ease;
}
.soloArchive .wrap .mainCol .body .articles .col .data .title {
  font-size: 0.9230769231rem;
  font-weight: bold;
  letter-spacing: .04em;
  line-height: 1.3333333333;
}
.soloArchive .wrap .mainCol .body .articles .col .data .date {
  color: #898989;
  font-size: 0.8461538462rem;
  font-weight: 200;
  line-height: 1;
  margin-top: 0.7692307692rem;
}
.soloArchive .wrap .mainCol .body .articles .col.is-hidden .image span:before {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}
.soloArchive .wrap .mainCol .body .articles .col.is-hidden .data {
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}
.soloArchive .wrap .mainCol .body .articles + .foot {
  margin-top: 6.5217391304%;
}
.soloArchive .wrap .mainCol .body .otherArticle {
  margin-top: 18.115942029%;
  padding-top: 10.1449275362%;
  border-top: #000 4px solid;
}
.soloArchive .wrap .mainCol .body .otherArticle .hdg03 {
  font-size: 2.1538461538rem;
  letter-spacing: .08em;
  line-height: .8;
  text-align: center;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol {
  margin-top: 11.5942028986%;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol + .archiveCol {
  margin-top: 10.1449275362%;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual {
  position: relative;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual a {
  display: block;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual a:before {
  content: "";
  display: block;
  border-top: #000 3px solid;
  border-bottom: #000 1px solid;
  padding-top: 3px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .title {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 4;
  -webkit-transition: opacity .8s .2s ease;
  transition: opacity .8s .2s ease;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .title .hdg {
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 0px 20px rgba(0, 0, 0, 0.3);
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .title .hdg span {
  display: block;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .title .hdg .m {
  font-size: 1.4615384615rem;
  letter-spacing: .2em;
  line-height: 1.3;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .title .hdg .s {
  font-size: 0.9230769231rem;
  letter-spacing: .04em;
  line-height: 1;
  margin-top: 0.5384615385rem;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .image {
  position: relative;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .image span {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .image span:before {
  content: "";
  display: block;
  padding-top: 50%;
  opacity: 0;
  position: relative;
  z-index: 3;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .visual .image span:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.15);
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail {
  margin-top: 7.2463768116%;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .post {
  display: none;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity .8s .4s ease;
  transition: opacity .8s .4s ease;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 76.5217391304%;
  padding-right: 3.6231884058%;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .column .title {
  font-size: 1.1538461538rem;
  font-weight: bold;
  letter-spacing: .04em;
  line-height: 1.4;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .column .text {
  font-size: 0.9230769231rem;
  letter-spacing: .04em;
  line-height: 1.6666666667;
  margin-top: 0.6153846154rem;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: #dcdcdc 1px solid;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll .n {
  line-height: 1;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll .n span {
  display: block;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll .n .num {
  font-size: 1.9230769231rem;
  font-weight: 300;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll .n .t {
  font-size: 0.9230769231rem;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol.is-hidden .visual .image span:before {
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol.is-hidden .detail .seriesContent,
.soloArchive .wrap .mainCol .body .otherArticle .archiveCol.is-hidden .visual .title {
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}
.soloArchive .wrap .mainCol .body .otherArticle .foot {
  margin-top: 10.1449275362%;
  padding: 13.0434782609% 0 4.347826087%;
  border-top: #000 1px solid;
}

/*/////////////////////////////
 RWD
/////////////////////////////*/
@media (min-width: 813px) {
  .soloArchive {
    padding-top: 4.6153846154rem;
  }
  .soloArchive .wrap {
    max-width: 1160px;
    margin: 0 auto;
  }
  .soloArchive .wrap .inner {
    padding: 0;
  }
  .soloArchive .wrap .lyt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .soloArchive .wrap .lyt .side {
    width: 25.8620689655%;
    display: block;
    position: relative;
  }
  .soloArchive .wrap .lyt .side .bnr.fixed {
    position: fixed;
    top: 51px;
  }
  .soloArchive .wrap .lyt .side .bnr.fixed.bottom {
    position: absolute;
  }
  .soloArchive .wrap .lyt .mainCol {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 4.3103448276%;
  }
  .soloArchive .wrap .lyt .mainCol .heading .visual:before {
    border-top: #000 5px solid;
    padding-top: 5px;
  }
  .soloArchive .wrap .lyt .mainCol .heading .visual .title .hdg02 .m {
    font-size: 2.4615384615rem;
  }
  .soloArchive .wrap .lyt .mainCol .heading .visual .title .hdg02 .s {
    font-size: 1.3846153846rem;
    margin-top: 1.0769230769rem;
  }
  .soloArchive .wrap .lyt .mainCol .heading .visual .image span:before {
    padding-top: 49.6503496503%;
  }
  .soloArchive .wrap .lyt .mainCol .heading .detail {
    margin: 3.0769230769% 0 0 13.2867132867%;
    padding: 0;
  }
  .soloArchive .wrap .lyt .mainCol .heading .detail .column {
    width: 81.1290322581%;
    padding-right: 4.0322580645%;
  }
  .soloArchive .wrap .lyt .mainCol .heading .detail .column .title {
    font-size: 1.6923076923rem;
  }
  .soloArchive .wrap .lyt .mainCol .heading .detail .column .text {
    font-size: 1.1538461538rem;
    line-height: 1.7333333333;
    margin-top: 0.9230769231rem;
  }
  .soloArchive .wrap .lyt .mainCol .heading .detail .toAll .n .num {
    font-size: 2.3076923077rem;
  }
  .soloArchive .wrap .lyt .mainCol .heading .detail .toAll .n .t {
    font-size: 1.1538461538rem;
  }
  .soloArchive .wrap .lyt .mainCol .body {
    margin: 2.6923076923rem 0 0 13.2867132867%;
    padding: 0;
  }
  .soloArchive .wrap .lyt .mainCol .body .foot .more a {
    padding-bottom: 0.5384615385rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .foot .more a:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 1;
    -webkit-transition: all .2s .1s ease;
    transition: all .2s .1s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .foot .more a:before {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    z-index: 2;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .foot .more a:hover:after {
    width: 0;
    left: auto;
    right: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .soloArchive .wrap .lyt .mainCol .body .foot .more a:hover:before {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col {
    width: 47.4193548387%;
    margin-bottom: 5.6451612903%;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col a:hover .image span {
    opacity: .85;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col a:hover .data .title span {
    background-position: 0 0.7692307692rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col .image {
    background-color: #000;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col .image span {
    opacity: 1;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col .image span:before {
    padding-top: 66.6666666667%;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col .data {
    margin-top: 0.9230769231rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col .data .title {
    font-size: 1.3846153846rem;
    line-height: 1.4444444444;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col .data .title span {
    background: -webkit-linear-gradient(left, #50a07f 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% 0.9230769231rem;
    background-position: 100% 0.7692307692rem;
    -webkit-transition: background-position .3s ease;
    transition: background-position .3s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles .col .data .date {
    font-size: 1.1538461538rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .articles + .foot {
    margin-top: 5.6451612903%;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle {
    margin-top: 12.9032258065%;
    padding-top: 8.8709677419%;
    border-top-width: 5px;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .hdg03 {
    font-size: 2.7692307692rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol {
    margin-top: 9.6774193548%;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol + .archiveCol {
    margin-top: 9.6774193548%;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .visual a:before {
    border-top-width: 5px;
    padding-top: 5px;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .visual a:hover .image span:after {
    -webkit-backdrop-filter: blur(0.2307692308rem);
    backdrop-filter: blur(0.2307692308rem);
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .visual .title .hdg .m {
    font-size: 2.4615384615rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .visual .title .hdg .s {
    font-size: 1.3846153846rem;
    margin-top: 0.9230769231rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .visual .image span:before {
    padding-top: 50%;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .visual .image span:after {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    -webkit-transition: -webkit-backdrop-filter .4s ease;
    transition: -webkit-backdrop-filter .4s ease;
    transition: backdrop-filter .4s ease;
    transition: backdrop-filter .4s ease, -webkit-backdrop-filter .4s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail {
    margin-top: 1.5384615385rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post {
    display: block;
    margin-top: 5.8064516129%;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post a:hover .image span {
    opacity: .85;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post a:hover .data .title span {
    background-position: 0 0.6923076923rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post .image {
    position: relative;
    width: 47.4193548387%;
    background-color: #000;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post .image span {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post .image span:before {
    content: "";
    display: block;
    padding-top: 66.6666666667%;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post .data {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 5.6451612903%;
    opacity: 1;
    -webkit-transition: opacity .8s .2s ease;
    transition: opacity .8s .2s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post .data .title {
    font-size: 1.3846153846rem;
    font-weight: bold;
    line-height: 1.4444444444;
    letter-spacing: .04em;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post .data .title span {
    background: -webkit-linear-gradient(left, #50a07f 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% 0.9230769231rem;
    background-position: 100% 0.6923076923rem;
    -webkit-transition: background-position .3s ease;
    transition: background-position .3s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post .data .deta {
    color: #898989;
    font-size: 1.1538461538rem;
    font-weight: 300;
    margin-top: 0.6923076923rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post.is-hidden .image span:before {
    opacity: 1;
    -webkit-transition: none;
    transition: none;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .post.is-hidden .data {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .column {
    width: 81.1290322581%;
    padding-right: 4.0322580645%;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .column a:hover .title span {
    background-position: 0 0.8461538462rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .column .title {
    font-size: 1.6923076923rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .column .title span {
    background: -webkit-linear-gradient(left, #50a07f 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% 0.9230769231rem;
    background-position: 100% 0.8461538462rem;
    -webkit-transition: background-position .3s ease;
    transition: background-position .3s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .column .text {
    font-size: 1.1538461538rem;
    line-height: 1.7333333333;
    margin-top: 0.9230769231rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll .n {
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll .n .num {
    font-size: 2.3076923077rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll .n .t {
    font-size: 1.1538461538rem;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .archiveCol .detail .seriesContent .toAll a:hover .n {
    color: #50a07f;
  }
  .soloArchive .wrap .lyt .mainCol .body .otherArticle .foot {
    margin-top: 9.6774193548%;
    padding: 10.8695652174% 0 0;
  }
}
@media (min-width: 1160px) {
  .soloArchive .wrap .inner {
    padding: 0 8.1896551724% 0 0;
  }
  .soloArchive .wrap .lyt .side {
    width: 28.1690140845%;
  }
  .soloArchive .wrap .lyt .mainCol {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 4.6948356808%;
  }
}

/*# sourceMappingURL=solo-arcive.css.map */
