@keyframes letterUp {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -101%, 0);
  }
}

@keyframes letterDown {
  0% {
    // transform: translate3d(0, 0, 0);
    transform: translate3d(0, 101%, 0);
  }
  100% {
    transform: translate3d(0, 101%, 0);
  }
}

@keyframes letterActive {
  0% {
    transform: translate3d(0, 101%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}