@media screen and (max-width: 749px) {
  #container {
    .team-slider {
      position: relative;
      height: vw(97.5) !important;
      overflow: hidden;
      z-index: 2;
      .swiper-wrapper {
        transition-timing-function: linear;
      }
      .team-cover {
        position: absolute;
        top: vw(70);
        left: 50%;
        width: vw(720);
        transform: translate3d(-50%, 0, 0);
        z-index: 2;
      }
      .team-wrapper {
        // height: vwPc(195);
        .team {

        }
      }
    }
    .vertical {
      position: fixed;
      top: 0;
      left: 0;
      height: calc(var(--vh, 1vh) * 100);
      width: vw(21);
      border-right: rem(1) solid $gray400;
      background-color: $white;
      z-index: 3;
      .swiper-container {
        height: 100%;
      }
      .swiper-wrapper {
        transition-timing-function: linear;
      }
      .swiper-slide {
        display: inline-flex;
        justify-content: center;
      }
    }
  }
}
@media screen and (min-width: 750px) {
  #container {
    .team-slider {
      position: relative;
      height: vwPc(195) !important;
      overflow: hidden;
      .swiper-wrapper {
        transition-timing-function: linear;
      }
      .team-cover {
        position: absolute;
        top: vwPc(120);
        left: 50%;
        width: vwPc(2106);
        transform: translate3d(-50%, 0, 0);
        z-index: 2;
      }
      .team-wrapper {
        // height: vwPc(195);
        .team {

        }
      }
    }
    .vertical {
      position: fixed;
      top: 0;
      left: 0;
      height: rem(1620);
      // min-height: 100vh;
      width: rem(38);
      border-right: rem(1) solid $gray400;
      background-color: $white;
      z-index: 3;
      .swiper-container {
        height: 100%;
      }
      .swiper-wrapper {
        transition-timing-function: linear;
      }
      .swiper-slide {
        display: inline-flex;
        justify-content: center;
      }
      // p {
      //   position: relative;
      //   left: rem(-2);
      //   padding-bottom: rem(32);
      //   @include fontsize(24);
      //   color: $gray400;
      //   writing-mode: vertical-rl;
      //   white-space: nowrap;
      // }
    }
  }
}
