@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

@charset "utf-8";

.logo:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
}
.logo.react:hover {
  /* filter: drop-shadow(0 0 2em #61dafbaa); */
}

body {
  // background-color: $base;
}
#contentTop {
  opacity: 0;
  font-family: "Hiragino Sans",
    Meiryo,
    sans-serif;
  will-change: opacity;
  color: $black;
  transition: opacity .5s ease;
  &.loaded {
    opacity: 1;
  }
  .seasons {
    font-family: "the-seasons", sans-serif;
  }
  .steive-sans {
    font-family: "stevie-sans", sans-serif;
  }
  .bold {
    font-weight: bold;
  }
  .parallax {
    display: block;
    position: relative;
  }
}

@media screen and (max-width: 749px) {
  #contentTop {
    &.loaded {
      .section {
        &#top {
          // &::after {
          //   opacity: 1;
          // }
          .hidden {
            opacity: 0;
          }
          .title {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
          .back {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
    .noise {
      &::before {
        pointer-events: none;
        content: '';
        @include center();
        height: 100%;
        width: 100%;
        background-image: url(./../../img/noise.png);
        background-size: rem(1200);
        background-repeat: repeat; 
        z-index: 0;
      }
    }
    .section {
      &__inner {
        width: vw(353);
      }
      &__content {
        width: vw(353);
        // width: calc( 868 / 1440 * 100%);
      }
      .text {
        @include fontvw(14);
        line-height: 180%;
      }
      .note {
        margin-top: vw(30);
        @include fontvw(12);
        line-height: 160%;
      }
    }
    section {
      &#top {
        &::before {
          display: none;
        }
        &::after {
          content: '';
          @include center();
          height: 100%;
          width: 100%;
          background-color: $white;
          will-change: opacity; 
          transition: opacity 2s $Power1easeInOut 2s;
          z-index: 1;
          display: none;
        }
        .hidden {
          will-change: opacity; 
          transition: opacity 2s $Power1easeInOut 2s;
        }
        .back {
          margin-bottom: vw(32);
        }
        .title, .back, .scroll-trigger {
          z-index: 2;
        }
        .scroll-trigger {
          left: auto;
          transform: translate3d(0, 0, 0);
          p {
            writing-mode: vertical-rl;
            @include fontvw(12);
          }
          div {
            margin-top: vw(8);
            margin-left: auto;
            margin-right: auto;
            height: vw(60);
            width: vw(1);
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              content: '';
              height: 100%;
              width: 100%;
              background-color: $key2;
              animation: scrollBar 3.5s cubic-bezier(0.75, 0, 0.6, 1) infinite;
            }
          }
        }
        .title {
          margin-top: vw(32);
          margin-bottom: vw(66);
          width: vw(324);
          opacity: 0;
          transform: translate3d(0, vw(20), 0);
          will-change: opacity, transform; 
          transition: opacity 2s $Power1easeInOut 4s, transform 2s $Power1easeInOut 4s;
        }
        .back {
          opacity: 0;
          // transform: translate3d(0, rem(50), 0);
          will-change: opacity; 
          transition: opacity 2s $Power1easeInOut 4s;
          background: linear-gradient(to bottom, #FFFEFB, #F9F8F2);
          img {

          }
        }
      }
      &#about {
        padding: vw(40) 0 vw(60);
        h2 {
          margin-bottom: vw(30);
          @include fontvw(18);
          line-height: 180%;
        }
        p {
          @include fontsize(14);
          line-height: 200%;
        }  
      }
      &#content {
        padding-bottom: vw(80);
      }
      &#interview {
        padding: vw(64) 0 vw(80);
        background: linear-gradient(to bottom, #FFFEFB, #F9F8F2);
        .content {
          // width: rem(642);
          .wrapper {
            margin-top: vw(60);
            margin-bottom: vw(74);
            .box {
              margin-bottom: vw(42);
              &:last-child {
                margin-bottom: 0;
              }
              &-title {
                margin-bottom: vw(28);
                @include fontvw(14);
                line-height: 180%;
                &::before {
                  margin-top: vw(12);
                  margin-right: vw(8);
                  content: '';
                  height: vw(1);
                  width: vw(16);
                  background-color: $key2
                }
              }
              &-text {
                @include fontvw(14);
                line-height: 180%
              }
            }
          }
          .profile {
            &-text {
              @include fontvw(12);
              line-height: 180%;
              .bold {
                @include fontvw(14);
              }
            }
          }
        }
        h2 {
          @include fontvw(24);
          margin-bottom: vw(42);
          &::after {
            margin-left: vw(8);
            content: '';
            flex-grow: 1;
            height: vw(1);
            background-color: $key1;
          }
        }
      }
      &#credit {
        padding: vw(80) 0;
        h2 {
          margin-bottom: vw(36);
          @include fontvw(14);
        }
        p {
          @include fontvw(12);
          line-height: 180%;
          &.credit {
            margin-top: vw(36);
            margin-bottom: vw(76);
          }
          a {
            color: $key1;
            text-decoration: underline;
          }
        }
        .scroll-trigger {
          &:active {
            div {
              transform: rotateY(180deg);
            }
          }
          div {
            @include fitcenter();
            margin-left: auto;
            margin-right: auto;
            height: vw(40);
            width: vw(40);
            background-color: #F7F7F7;
            border-radius: 100%;
            will-change: transform; 
            transition: transform .3s $Power1easeIn;
            svg {
              width: vw(12);
            }
          }
          p {
            margin-top: vw(8);
            @include fontvw(12);
          }
        }
      }
      .parallax {
        &.parallax1 {
          height: vw(262);
        }
        &.parallax2 {
          height: vw(507);
        }
        img {
          max-height: initial;
          max-width: initial;
        }
      }
      .block {
        &.block1 {
          margin-bottom: vw(78);
          .title {
            // margin-bottom: rem(240);
          }
          .block-image {
            margin-bottom: vw(42);
            // width: calc(755 / 1320 * 100%);
          }
          // .block-content {
          //   width: calc(416 / 1320 * 100%);
          // }
        }
        &.block2 {
          margin-bottom: vw(48);
          .block-image {
            width: vw(342);
          }
        }
        &.block3 {
          margin-bottom: vw(48);
          .block-image {
            // margin-left: calc(113 / 1320 * 100%);
            // margin-right: auto;
            // width: calc(981 / 1320 * 100%);
          }
        }
        &.block4 {
          margin-bottom: vw(78);
          .block-content {
            // margin-left: calc(113 / 1320 * 100%);
            width: vw(324);
          }
          .block-image {
            margin-bottom: vw(46);
            width: vw(294);
          }
        }
        &.block5 {
          margin-top: vw(32);
          margin-bottom: vw(80);
          .block-content {
            width: vw(354);
          }
        }
        &.block6 {
          margin-bottom: vw(8);
          .block-image {
            width: vw(204);
          }
        }
        &.block7 {
          margin-bottom: vw(64);
          .block-image {
            width: vw(204);
            margin-right: vw(30);
          }
        }
        &.block8 {
          margin-bottom: vw(78);
          .block-image {
            width: vw(294);
          }
          .block-content {
            margin-top: vw(46);
            width: vw(264);
          }
        }
        &.block9 {
          margin-bottom: vw(48);
          .block-image {
          }
        }
        &.block10 {
          margin-bottom: vw(78);
          .block-image {
            margin-left: vw(54);
            width: vw(264);
          }
          .block-content {
            margin-top: vw(46);
          }
        }
        &.block11 {
          margin-bottom: vw(32);
          .block-image {
            margin-left: vw(-20);
            .image {
              width: vw(254);
            }
          }
        }
        &.block12 {
          margin-bottom: vw(78);
          .block-image {
            margin-right: vw(-20);
            margin-left: auto;
            width: vw(343);
          }
        }
        &.block13 {
          .block-image {
            width: vw(234);
          }
          .block-content {
            margin-bottom: vw(78);
            width: vw(294);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  #contentTop {
    &.loaded {
      .section {
        &#top {
          &::after {
            opacity: 1;
          }
          .title {
            opacity: 0;
            transform: translate3d(-50%, calc( -50% + rem(-50) ), 0);
          }
          .back {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
    .noise {
      &::before {
        pointer-events: none;
        content: '';
        @include center();
        height: 100%;
        width: 100%;
        background-image: url(./../../img/noise.png);
        background-size: rem(1200);
        background-repeat: repeat; 
        z-index: 0;
      }
    }
    .section {
      &__inner {
        width: calc( 1320 / 1440 * 100%);
      }
      &__content {
        width: calc( 868 / 1440 * 100%);
      }
      .text {
        @include fontsize(14);
        line-height: 180%;
      }
      .note {
        margin-top: rem(32);
        @include fontsize(12);
        line-height: 160%;
      }
    }
    section {
      &#top {
        // &::after {
        //   content: '';
        //   @include center();
        //   height: 100%;
        //   width: 100%;
        //   background-color: $white;
        //   will-change: opacity; 
        //   transition: opacity 2s $Power1easeInOut 2s;
        //   z-index: 1;
        // }
        .title, .back, .scroll-trigger {
          z-index: 2;
        }
        .scroll-trigger {
          right: rem(24);
          p {
            writing-mode: vertical-rl;
            @include fontsize(12);
          }
          div {
            margin-top: rem(8);
            margin-left: auto;
            margin-right: auto;
            height: rem(60);
            width: rem(1);
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              content: '';
              height: 100%;
              width: 100%;
              background-color: $white;
              animation: scrollBar 3.5s cubic-bezier(0.75, 0, 0.6, 1) infinite;
            }
          }
        }
        .title {
          width: rem(687);
          @include center();
          will-change: opacity, transform; 
          transition: opacity 1s $Power1easeIn 1.5s, transform 1s $Power1easeIn 1.5s;
        }
        .back {
          opacity: 0;
          transform: translate3d(0, rem(50), 0);
          will-change: opacity, transform; 
          transition: opacity 2s $Power1easeInOut 2s, transform 2s $Power1easeInOut 2s;
          background: linear-gradient(to bottom, #FFFEFB, #F9F8F2);
          img {

          }
        }
      }
      &#about {
        padding: rem(80) 0 rem(120);
        h2 {
          margin-bottom: rem(40);
          @include fontsize(24);
          line-height: 180%;
        }
        p {
          @include fontsize(14);
          line-height: 200%;
        }  
      }
      &#content {
        padding-bottom: rem(120);
      }
      &#interview {
        padding: rem(80) 0 rem(120);
        background: linear-gradient(to bottom, #FFFEFB, #F9F8F2);
        .content {
          width: rem(642);
          .wrapper {
            margin-top: rem(72);
            margin-bottom: rem(110);
            .box {
              margin-bottom: rem(60);
              &:last-child {
                margin-bottom: 0;
              }
              &-title {
                margin-bottom: rem(34);
                @include fontsize(14);
                line-height: 180%;
                &::before {
                  margin-top: rem(12);
                  margin-right: rem(16);
                  content: '';
                  height: rem(1);
                  width: rem(32);
                  background-color: $key2
                }
              }
              &-text {
                @include fontsize(14);
                line-height: 180%
              }
            }
          }
          .profile {
            &-text {
              @include fontsize(12);
              line-height: 180%;
              .bold {
                @include fontsize(14);
              }
            }
          }
        }
        h2 {
          @include fontsize(32);
          margin-bottom: rem(80);
          &::after {
            margin-left: rem(24);
            content: '';
            flex-grow: 1;
            height: rem(1);
            background-color: $key1;
          }
        }
      }
      &#credit {
        padding: rem(80) 0;
        h2 {
          margin-bottom: rem(40);
          @include fontsize(14);
        }
        p {
          @include fontsize(12);
          line-height: 180%;
          &.credit {
            margin-top: rem(110);
            margin-bottom: rem(80);
          }
          a {
            color: $key1;
            text-decoration: underline;
          }
        }
        .scroll-trigger {
          &:hover {
            div {
              transform: rotateY(180deg);
            }
          }
          div {
            @include fitcenter();
            margin-left: auto;
            margin-right: auto;
            height: rem(40);
            width: rem(40);
            background-color: #F7F7F7;
            border-radius: 100%;
            will-change: transform; 
            transition: transform .3s $Power1easeIn;
            svg {
              width: rem(12);
            }
          }
          p {
            margin-top: rem(8);
            @include fontsize(12);
          }
        }
      }
      .parallax {
        &.parallax1 {
          // min-height: rem(640);
          height: calc( 640 / 1440 * 100vw);
        }
        &.parallax2 {
          // min-height: rem(640);
          height: calc( 1121 / 1440 * 100vw);
          .image {
            // height: 100%;
            // picture {
            //   display: flex;
            //   justify-content: center;
            // }
            // img {
            //   height: calc( 1320 / 1121 * 100%);
            //   width: auto;
            // }
          }
        }
        img {
          max-height: initial;
          max-width: initial;
        }
      }
      .block {
        &.block1 {
          margin-bottom: rem(160);
          .title {
            margin-bottom: rem(240);
          }
          .block-image {
            width: calc(755 / 1320 * 100%);
          }
          .block-content {
            width: calc(416 / 1320 * 100%);
          }
        }
        &.block2 {
          margin-bottom: rem(64);
          .block-image {
            margin-left: auto;
            margin-right: calc(113 / 1320 * 100%);
            width: calc(642 / 1320 * 100%);
          }
        }
        &.block3 {
          margin-bottom: rem(80);
          .block-image {
            margin-left: calc(113 / 1320 * 100%);
            margin-right: auto;
            width: calc(981 / 1320 * 100%);
          }
        }
        &.block4 {
          margin-bottom: rem(160);
          .block-content {
            margin-left: calc(113 / 1320 * 100%);
            width: calc( 416 / 1320 * 100%);
          }
          .block-image {
            width: calc(642 / 1320 * 100%);
          }
        }
        &.block5 {
          margin-top: rem(48);
          margin-bottom: rem(64);
          .block-content {
            margin-left: calc(113 / 1320 * 100%);
            width: calc( 568 / 1320 * 100%);
          }
        }
        &.block6 {
          margin-bottom: rem(24);
          .block-image {
            margin: 0 calc(113 / 1320 * 100%) 0 auto;
            width: calc( 529 / 1320 * 100%);
          }
        }
        &.block7 {
          margin-bottom: rem(80);
          .block-image {
            margin: 0 0 0 auto;
            width: calc( 529 / 1320 * 100%);
          }
        }
        &.block8 {
          margin-bottom: rem(160);
          .block-image {
            width: calc( 642 / 1320 * 100%);
          }
          .block-content {
            margin-top: calc( 160 / 1320 * 100%);
            width: calc( 416 / 1320 * 100%);
          }
        }
        &.block9 {
          margin-bottom: rem(80);
          .block-image {
            width: calc( 868 / 1320 * 100%);
          }
        }
        &.block10 {
          margin-bottom: rem(220);
          .block-image {
            width: calc( 529 / 1320 * 100%);
          }
          .block-content {
            margin-top: calc( 460 / 1320 * 100%);
            margin-left: calc( 226 / 1320 * 100%);
            width: calc( 416 / 1320 * 100%);
          }
        }
        &.block11 {
          .block-image {
            .image {
              width: calc( 529 / 1320 * 100%);
            }
          }
        }
        &.block12 {
          margin-bottom: rem(80);
          .block-image {
            margin-top: calc(409 / 1320 * -100%);
            margin-left: auto;
            margin-right: calc(113 / 1320 * 100%);
            width: calc( 642 / 1320 * 100%);
          }
        }
        &.block13 {
          .block-image {
            width: calc( 598 / 1320 * 100%);
          }
          .block-content {
            margin-top: calc( 120 / 1320 * 100%);
            margin-left: calc( 113 / 1320 * 100%);
            width: calc( 416 / 1320 * 100%);
          }
        }
      }
    }
  }
}