// @import "./awesome";
@import "./property";
@import "./mixin";

@import "./base";
// @import "./animation";
// @import "./header";
// @import "./common";

@charset "utf-8";

.special-2409-airbnb {
  font-family: "Hiragino Kaku Gothic Pro";
  text-align: justify;
  background-color: $cream;
  .absolute {
    position: absolute;
  }
  .text-center {
    text-align: center;
  }
  .bold {
    font-weight: bold;
  }
  .futura {
    font-family: Futura, 'Century Gothic';
  }
}

@media screen and (max-width: 767px) {
  .special-2409-airbnb {
    .fade {
      opacity: 0;
      transform: translate3d(0, vwPc(20), 0);
      will-change: opacity, transform;
      transition: opacity 1s $Power3easeInOut, transform 1s $Power3easeInOut;
      &.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    .flex {
      &-content {
        // width: rem(488); 
      }
      &-img {

      }
    }
    .w375_sp {
      position: relative;
      left: 50%;
      width: vw(375);
      &.fade {
        transform: translate3d(-50%, vw(20), 0);
        &.active {
          transform: translate3d(-50%, 0, 0);
        }
      }
    }
    .w355_sp {
      width: vw(355);
    }
    .w336_sp {
      width: vw(336);
    }
    .w170_sp {
      width: vw(170);
    }
    .w120_sp {
      width: vw(120);
    }
    .w188_sp {
      width: vw(188);
    }
    .w169_sp {
      width: vw(169);
    }
    .w237_sp {
      width: vw(237);
    }
    .w286_sp {
      width: vw(286);
    }
    .w257_sp {
      width: vw(257);
    }
    .w139_sp {
      width: vw(139);
    }
    .section-full {
      position: relative;
      left: 50%;
      width: 100vw;
      transform: translate3d(-50%, 0, 0);
    }
    .section {
      position: relative;
      max-width: rem(1440);
      margin: 0 auto;
      &-inner {
        margin: 0 auto;
        width: vw(335);
      }
    }
    .btn {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: vw(60);
      width: vw(237);
      text-align: center;
      border: rem(1) solid $white;
      box-sizing: border-box;
      background-color: $navy;
      will-change: background-color;
      transition: background-color .5s $Power1easeInOut;
      &:active {
        background-color: $white;
        .btn-text {
          color: $navy;
        }
        .btn-icon {
          svg * {
            stroke: $navy;
          }
        }
      }
      &.black {
        border: rem(1) solid $black;
        background-color: $black;
        .btn-text {

        }
      }
      &-text {
        @include fontvw(12);
        line-height: (19.2 / 12);
        color: $white;
        will-change: color;
        transition: color .5s $Power1easeInOut;
      }
      &-icon {
        position: absolute;
        top: 50%;
        right: vw(20);
        transform: translate3d(0, -50%, 0);
        width: vw(18);
        svg * {
          will-change: stroke;
          transition: stroke .5s $Power1easeInOut;
        }
      }
    }
    .section-text {
      @include fontvw(14);
      letter-spacing: vw(-0.28);
      line-height: (22.4 / 14);
    }
    .section-credit {
      margin-top: vw(20);
      @include fontvw(10.5);
      line-height: (15.75 / 10.5);
      color: $gray;
      &.black {
        color: $black;
        a {
          color: $black;
        }
      }
    }
    .section-title {
      margin-bottom: vw(10);
      @include fontvw(21);
      line-height: (27.3 / 21);
      font-weight: 600;
      color: $navy;
    }
    #section1 {
      margin-bottom: rem(120);
      // margin-bottom: calc(120 / 1440 * 100%);
      .kv {
        position: relative;
        left: 50%;
        width: 100vw;
        transform: translate3d(-50%, 0, 0);
        .wrapper {
          video {
            width: 100%;
          }
        }
        h1 {
          top: vw(13);
          left: 50%;
          width: vw(170);
          transform: translate3d(-50%, 0, 0);
        }
      }
      .lead {
        padding: vw(30) 0;
        h2 {
          margin-bottom: vw(5);
          @include fontvw(18);
          letter-spacing: vw(.9);
        }
        h3 {
          margin-bottom: vw(10);
          @include fontvw(21);
          letter-spacing: vw(-.63);
          font-weight: 600;
        }
        .section-text {
          margin: 0 auto;
          text-align: left;
        }
      }
      .flex {
        &-img {
         // margin-left: calc(120 / 1440 * 100%);
        }
        &-content {
          margin-bottom: vw(60);
          display: flex;
          flex-direction: column;
          .section-credit {
            order: 1;
          }
          .section-title {
            margin-top: vw(40);
            order: 2;
          }
          .section-text {
            order: 3;
          }
        }
      }
    }
    #section2 {
      margin-bottom: vw(60);
      .image {
        &.image1 {
          margin: 0 auto;
        }
        &.image2 {
          position: relative;
          margin: vw(-10) 0 0 auto;
          z-index: 1;
        }
        &.image3 {
          margin: vw(-74) auto 0 0;
          z-index: 1;
        }
      }
      .section-credit {
        margin-left: auto;
        margin-right: auto;
      }
      .btn {
        margin-top: vw(30);
      }
      .flex {
        position: relative;
        margin: calc( 175 / 1440 * -100%) 0 0 auto;
        &-img {
          &.w590 {
            .section-credit {
              margin-top: vw(150);
            }
          }
          &.w488 {
            position: absolute;
            top: vw(277);
            right: 0;
          }
        }
      }
    }
    #section3 {
      margin-bottom: vw(60);
      .flex {
        &.flex1 {
          display: flex;
          flex-direction: column;
          .flex-content {
            display: flex;
            flex-direction: column;
            margin-bottom: vw(60);
            order: 2;
            .section-credit {
              order: 1;
            }
            .section-title {
              margin-top: vw(40);
              order: 2;
            }
            .section-text {
              order: 3;
            }
          }
          .flex-img {
            order: 1;
          }
        }
        &.flex2 {
          margin-top: vw(20);
          display: flex;
          flex-direction: column;
          .flex-content {
            order: 2;
          }
          .flex-img {
            order: 1;
            .image {
              margin-right: vw(-20);
              margin-left: auto;
            }
          }
        }
      }
      .image {
        &.image2  {
          position: relative;
          margin-top: vw(20);
          z-index: 1;
        } 
        &.image3  {
          margin-top: vw(-68);
          margin-left: vw(50);
        } 
        &.image4  {
          margin-left: vw(-20);
        } 
      }
    }
    #section4 {
      .flex {
        &-content {
          display: flex;
          flex-direction: column;
          .section-credit {
            order: 1;
          }
          .section-title {
            margin-top: vw(40);
            order: 2;
          }
          .section-text {
            order: 3;
          }
        }
        &-img {
        }
      }
      #karins-work {
        padding: vw(60) 0;
        margin-top: vw(60);
        background-color: #F6F6F6;
        h2 {
          margin-bottom: vw(10);
          @include fontvw(36);
        }
        h3 {
          margin-bottom: vw(30);
          @include fontvw(16);
          letter-spacing: vw(0.32);
        }
        .image {
          &.image1 {
            margin: 0 auto vw(20);
          }
          &.image2 {

          }
        }
        .section-credit {
          &.w794 {
            margin: 0 auto;
          }
        }
        .flex {
          margin-top: vw(60);
          margin-bottom: vw(60);
          &-img {
            position: relative;
            margin-bottom: vw(20);
            .image2 {
              position: absolute;
              top: vw(-30);
              left: 0;
              width: calc( 204 / 405 * 100%);
              z-index: 1;
            }
            .image3 {
              margin-left: auto;
              margin-right: 0;
            }
          }
          &-content {
            .section-credit {
              margin-top: 0
            }
          }
        }
        .profile {
          @include fitcenter();
          justify-content: space-between;
          flex-wrap: wrap;
          &-title {
            margin-bottom: vw(26);
            @include fontvw(18);
            letter-spacing: vw(0.36);
            width: 100%;
          }
          &-image {
            width: vw(120);
          }
          &-content {
            width: vw(188);
          }
          &-name {
            margin-bottom: vw(10);
            @include fontvw(14);
          }
          .section-credit {
            margin: 0;
          }
        }
      }
    }
    #section5 {
      #listing {
        padding: vw(60) 0;
        background-color: #FFFBF3;
        h2 {
          margin-bottom: vw(30);
          @include fontvw(36);
        }
        .image {
          margin: 0 auto vw(20);  
        }
        .section-text {
          margin: 0 auto vw(30);  
        }
        .address {
          margin: 0 auto vw(20);
          @include fitcenter();
          height: vw(124);
          width: vw(237);
          border: rem(1) solid $black;
          &-inner {

          }
          &-name {
            margin-bottom: vw(14);
            @include fontvw(14);
          }
          &-text {
            margin: 0 auto;
            width: vw(155);
            @include fontvw(10.5);
            line-height: (15.75/10.5);
            a {
              color: $black;
            }
          }
        }
      }
      #information {
        padding: vw(60) 0;
        background-color: $navy;
        h3 {
          margin-bottom: vw(10);
          @include fontvw(18);
        }
        h2 {
          margin-bottom: vw(20);
          @include fontvw(16);
        }
        h2, h3, .section-text {
          color: $white;
        }
        .section-text {
          margin: 0 auto vw(30);
        }
      }
      #bottom {
        padding: vw(90) 0;
        background-color: #FFFBF3;
        .section-text {
          .underline {
            position: relative;
            margin-bottom: vw(30);
            padding-bottom: vw(10);
            display: inline-block;
            &::after {
              position: absolute;
              content: '';
              left: 0;
              bottom: 0;
              height: rem(1);
              width: 100%;
              background-color: $black;
            }
          }
        }
        .section-credit {
          margin-bottom: vw(60);
        }
        .top {
          @include fontvw(16);
          color: $black;
        }
        .btn {
          margin: vw(30) auto vw(60);
        }
        ul {
          @include fitcenter();
          li {
            margin-right: vw(30);
            width: vw(30);
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .special-2409-airbnb {
    .fade {
      opacity: 0;
      transform: translate3d(0, vwPc(20), 0);
      will-change: opacity, transform;
      transition: opacity 1s $Power1easeInOut, transform 1s $Power1easeInOut;
      &.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    .flex {
      &-content {
        // width: rem(488); 
      }
      &-img {

      }
    }
    .w305 {
      max-width: rem(305);
      width: calc( 305 / 1440 * 100% );
    }
    .w407 {
      max-width: rem(407);
      width: calc( 407 / 1440 * 100% );
    }
    .w488 {
      max-width: rem(488);
      width: calc( 488 / 1440 * 100% );
    }
    .w508 {
      max-width: rem(508);
      width: calc( 508 / 1440 * 100% );
    }
    .w590 {
      max-width: rem(590);
      width: calc( 590 / 1440 * 100% );
    }
    .w710 {
      max-width: rem(710);
      width: calc( 710 / 1440 * 100% );
    }
    .w794 {
      max-width: rem(794);
      width: calc( 794 / 1440 * 100% );
    }
    .w895 {
      max-width: rem(895);
      width: calc( 895 / 1440 * 100% );
    }
    .w1200 {
      max-width: rem(1200);
      width: calc( 1200 / 1440 * 100% );
    }
    .section-full {
      position: relative;
      left: 50%;
      width: 100vw;
      transform: translate3d(-50%, 0, 0);
    }
    .section {
      position: relative;
      max-width: rem(1440);
      margin: 0 auto;
      &-inner {
      }
    }
    .btn {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: rem(80);
      width: rem(386);
      text-align: center;
      border: rem(1) solid $navy;
      box-sizing: border-box;
      background-color: $navy;
      will-change: background-color;
      transition: background-color .5s $Power1easeInOut;
      &:hover {
        background-color: $white;
        .btn-text {
          color: $navy;
        }
        .btn-icon {
          svg * {
            stroke: $navy;
          }
        }
      }
      &.black {
        border: rem(1) solid $black;
        background-color: $black;
        .btn-text {

        }
      }
      &-text {
        @include fontsize(16);
        color: $white;
        will-change: color;
        transition: color .5s $Power1easeInOut;
      }
      &-icon {
        position: absolute;
        top: 50%;
        right: rem(20);
        transform: translate3d(0, -50%, 0);
        width: rem(30);
        svg * {
          will-change: stroke;
          transition: stroke .5s $Power1easeInOut;
        }
      }
    }
    .section-text {
      @include fontsize(16);
      letter-spacing: rem(-0.32);
      line-height: (28.8 / 16);
    }
    .section-credit {
      margin-top: rem(60);
      @include fontsize(12);
      line-height: (19.2 / 12);
      color: $gray;
      &.black {
        color: $black;
        a {
          color: $black;
        }
      }
    }
    .section-title {
      margin-bottom: rem(20);
      @include fontsize(32);
      line-height: (38.4 / 32);
      font-weight: 600;
      color: $navy;
    }
    #section1 {
      margin-bottom: rem(120);
      // margin-bottom: calc(120 / 1440 * 100%);
      .kv {
        position: relative;
        left: 50%;
        width: 100vw;
        transform: translate3d(-50%, 0, 0);
        .wrapper {
          video {
            width: 100%;
          }
        }
        h1 {
          right: rem(114);
          top: 50%;
          width: rem(312);
          transform: translate3d(0, -50%, 0);
        }
      }
      .lead {
        padding: rem(60) 0 rem(87);
        h2 {
          margin-bottom: rem(10);
          @include fontsize(25);
          letter-spacing: rem(2.5);
        }
        h3 {
          margin-bottom: rem(20);
          @include fontsize(32);
          letter-spacing: rem(1.6);
          font-weight: 600;
        }
      }
      .flex {
        &-img {
          margin-left: calc(120 / 1440 * 100%);
        }
        &-content {
          margin-right: calc(120 / 1440 * 100%);
        }
      }
    }
    #section2 {
      margin-bottom: calc(120 / 1440 * 100%);
      .image {
        &.image1 {
          margin: 0 auto;
        }
        &.image2 {
          margin: calc( 60 / 1440 * -100%) calc( 120 / 1440 * 100%) 0 auto;
        }
        &.image4 {
          margin: calc( 376 / 488 * 100%) 0 0 auto;
        }
      }
      .section-credit {
        margin-left: auto;
        margin-right: auto;
      }
      .btn {
        margin-top: rem(60);
      }
      .flex {
        margin: calc( 175 / 1440 * -100%) 0 0 auto;
        &-img {
          &.w590 {
            margin-left: calc(120 / 1440 * 100%);
            .section-credit {
              width: calc( 488 / 590 * 100%);
            }
          }
          &.w488 {
            margin-right: calc(120 / 1440 * 100%);
          }
        }
      }
    }
    #section3 {
      margin-bottom: calc(120 / 1440 * 100%);
      .flex {
        &.flex1 {
          margin-bottom: calc(120 / 1440 * 100%);
          .flex-content {
            margin-left: calc( 120 / 1440 * 100%);
            // margin-top: calc( 248 / 1440 * 100%);
            // margin-right: rem(120);
          }
          .flex-img {
            margin-right: calc( 120 / 1440 * 100%);
          }
        }
        &.flex2 {
          .flex-content {
            margin-left: calc( 222 / 1440 * 100%);
            .section-credit {
              margin-top: 0;
            }
          }
          .flex-img {
            margin-right: calc( 120 / 1440 * 100%);
          }
        }
      }
      .image {
        &.image2  {
          position: relative;
          margin: calc( 20 / 508 * -100%) auto 0 calc( 82 / 508 * -100%);
          width: calc( 285 / 508 * 100%);
          z-index: 1;
        } 
        &.image3  {
          margin: calc( 150 / 508 * -100%) auto 0 calc( 101 / 508 * 100%);
          width: calc( 305 / 508 * 100%);
        } 
        &.image4  {
          margin: 0 auto calc( 30 / 1440 * 100%) calc( 120 / 1440 * 100%);
        } 
      }
    }
    #section4 {
      .flex {
        &-content {
          margin-right: calc( 120 / 1440 * 100%);
        }
        &-img {
          margin-left: calc( 120 / 1440 * 100%);
        }
      }
      #karins-work {
        padding: rem(90) 0 rem(120);
        margin-top: rem(120);
        background-color: #F6F6F6;
        h2 {
          margin-bottom: rem(20);
          @include fontsize(42);
        }
        h3 {
          margin-bottom: rem(60);
          @include fontsize(24);
          letter-spacing: rem(0.48);
        }
        .image {
          &.image1 {
            margin: 0 auto rem(60);
          }
          &.image2 {

          }
        }
        .section-credit {
          &.w794 {
            margin: 0 auto;
          }
        }
        .flex {
          margin-top: rem(150);
          margin-bottom: rem(90);
          &-img {
            position: relative;
            margin-right: rem(80);
            .image2 {
              position: absolute;
              top: calc(90 / 405 * -100%);
              left: 0;
              width: calc( 204 / 405 * 100%);
              z-index: 1;
            }
            .image3 {
              margin-left: calc(100 / 405 * 100%);
              width: calc(304 / 405 * 100%);
            }
          }
          &-content {
            .section-credit {
              margin-top: 0
            }
          }
        }
        .profile {
          @include fitcenter();
          flex-wrap: wrap;
          &-title {
            margin-bottom: rem(26);
            @include fontsize(24);
            letter-spacing: rem(0.48);
            width: 100%;
          }
          &-image {
            margin-right: rem(85);
            width: rem(120);
          }
          &-content {
            width: rem(590);
          }
          &-name {
            margin-bottom: rem(10);
            @include fontsize(16);
          }
          .section-credit {
            margin: 0;
          }
        }
      }
    }
    #section5 {
      #listing {
        padding: rem(90) 0;
        background-color: #FFFBF3;
        h2 {
          margin-bottom: rem(60);
          @include fontsize(48);
        }
        .image {
          margin: 0 auto rem(30);  
          width: rem(488);
        }
        .section-text {
          margin: 0 auto rem(30);  
          width: rem(488);
        }
        .address {
          margin: 0 auto rem(60);
          @include fitcenter();
          height: rem(122);
          width: rem(488);
          // width: rem(488);
          border: rem(1) solid $black;
          &-inner {

          }
          &-name {
            margin-bottom: rem(10);
            @include fontsize(16);
          }
          &-text {
            @include fontsize(12);
            line-height: (19.2/12);
            a {
              color: $black;
            }
          }
        }
      }
      #information {
        padding: rem(90) 0 rem(100);
        background-color: $navy;
        h3 {
          margin-bottom: rem(30);
          @include fontsize(24);
        }
        h2 {
          margin-bottom: rem(60);
        }
        h2, h3, .section-text {
          color: $white;
        }
        .section-text {
          margin: 0 auto rem(54);
          width: rem(794);
        }
      }
      #bottom {
        padding: rem(120) 0;
        background-color: #FFFBF3;
        .section-text {
          .underline {
            position: relative;
            margin-bottom: rem(30);
            padding-bottom: rem(5);
            display: inline-block;
            &::after {
              position: absolute;
              content: '';
              left: 0;
              bottom: 0;
              height: rem(1);
              width: 100%;
              background-color: $black;
            }
          }
        }
        .section-credit {
          margin-bottom: rem(60);
        }
        .top {
          @include fontsize(16);
          color: $black;
        }
        .btn {
          margin: rem(60) auto;
        }
        ul {
          @include fitcenter();
          li {
            margin-right: rem(40);
            width: rem(40);
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
