@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./property";
@import "./mixin";

@import "./base";
@import "./animation";

@charset "utf-8";

#contentTop {
  // opacity: 0;
  font-family: "Hiragino Sans",
    Meiryo,
    sans-serif;
  will-change: opacity;
  color: $black;
  transition: opacity .5s ease;
  &.loaded {
    opacity: 1;
  }
  .gif {
    .gif-image {
      opacity: 0;
      will-change: opacity;
      transition: opacity .5s $Power1easeInOut;
      &:nth-child(1) {
        img {
          position: relative;
          top: auto;
          left: auto;
          transform: initial;
        }
      }
      picture, img {
        display: block;
        height: 100%;
        width: 100%;
      }
      img {
        @include center();
        object-fit: cover;
      }
      &.active {
        opacity: 1;
        z-index: 1;
      }
    }
  }
  .stevie-sans {
    font-family: "stevie-sans", sans-serif;
  }
  .source-han-sans-cjk-ja {
    font-family: "source-han-sans-cjk-ja", sans-serif;
    &.regular {
      font-weight: 400;
    }
    &.bold {
      font-weight: 700;
    }
  }
  .indivisible {
    font-family: "indivisible", sans-serif;
    &.regular {
      font-weight: 400;
    }
    &.medium {
      font-weight: 500;
    }
    &.semibold {
      font-weight: 600;
    }
    &.bold {
      font-weight: 700;
    }
  }
  .bold {
    font-weight: bold;
  }
  .parallax {
    display: block;
    position: relative;
  }
}

@media screen and (max-width: 749px) {
  #contentTop {
    .button {
      @include fitcenter();
      justify-content: space-between;
      padding: 0 vw(16);
      height: vw(56);
      width: vw(204);
      background-color: $accent1;
      &.long {
        width: vw(294);
        background-color: $black;
      }
      &-text {
        @include fontvw(12);
        color: $white;
      }
      &-arrow {
        svg {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    .pv-section {
      &#section3 {
        .text {
          margin-top: vw(40);
          margin-bottom: vw(80);
          margin-right: auto;
          margin-left: auto;
          width: vw(354);
          @include fontvw(13);
          line-height: 200%;
        }
        .parallax-area {
          // height: rem(810);
        }
      }
    }
    .section {
      &#top {

      }
      &#about {
        padding: vw(64) 0;
        h2 {
          margin-bottom: vw(40);
          @include fontvw(18);
          line-height: 160%;
        }
        p {
          @include fontvw(13);
          line-height: 200%;
        }
      }
      &#invitation {
        padding: vw(48) 0 vw(40);
        background-color: #FBF7E5;
        .section__inner {
          margin-left: auto;
          margin-right: auto;
          width: vw(354);
        }
        .wrapper {
          margin-bottom: vw(32);
          margin-left: auto;
          margin-right: auto;
          width: vw(354);
          div {
            // width: calc(488 / 1200 * 100%);
          }
          h2 {
            margin-bottom: vw(48);
            @include fontvw(28);
            line-height: 120%;
            color: $accent3;
          }
          h3 {
            margin-bottom: vw(24);
            @include fontvw(16);
            line-height: 160%;
          }
          p {
            @include fontvw(13);
            line-height: 200%;
          }
        }
        .image {
          margin-left: auto;
          margin-right: auto;
          // width: calc( 794 / 1200 * 100%);
        }
      }
      &#index {
        padding: vw(40) 0 vw(64);
        .button {
          margin-left: auto;
          margin-right: auto;
          background-color: $black;
        }
        .section__inner {
          margin-left: auto;
          margin-right: auto;
          width: vw(354);
        }
        .wrapper {
          margin-bottom: vw(46);
          padding: vw(24) 0;
          height: vw(410);
          box-sizing: border-box;
          overflow: scroll;
          ul {
            li {
              margin-bottom: vw(32);
              &:last-child {
                margin-bottom: 0;
              }
              p {
                @for $i from 1 through 11 {
                  &.no#{$i} {
                    display: flex;
                    &::before {
                      content: '#{$i}.';
                      flex-shrink: 0;
                    }
                  }
                  &.no6 {
                    &::before {
                    content: '6&7.';
                    }
                  }
                } 
                &:nth-child(1) {
                  margin-bottom: vw(16);
                  @include fontvw(13);
                  line-height: 160%;
                  color: $accent3;
                }
                &:nth-child(2) {
                  @include fontvw(12);
                  line-height: 180%;
                  color: $gray;
                }
              }
            }
          }
        }
      }
      &#information {
        padding: 0 0 vw(48) 0;
        background-color: #F7F7F7;
        .section__inner {
          margin-left: auto;
          margin-right: auto;
          // width: calc( 1200 / 1440 * 100%);
          .wrapper {
            // display: flex;
            // justify-content: space-between;
            &-image {
              // width: calc( 490 / 1200 * 100%);
              margin-bottom: vw(48);
            }
            &-content {
              margin-left: auto;
              margin-right: auto;
              width: vw(354);
              h2 {
                margin-bottom: vw(48);
                @include fontvw(24);
              }
              .line-wrapper {
                .line {
                  margin-bottom: vw(24);
                  &:last-child {
                    margin-bottom: 0;
                  }
                  div {
                    &:nth-child(1) {
                      // width: rem(112);
                      margin-bottom: vw(16);
                      p {
                        @include fontvw(13);
                      }
                    }
                    &:nth-child(2) {
                      // width: calc( 100% - rem(136));
                      p {
                        @include fontvw(13);
                        line-height: 180%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &#footer {
        padding: vw(80) 0;
        h2 {
          margin-bottom: vw(32);
          @include fontvw(14);
        }
        .text {
          @include fontvw(12);
          line-height: 180%;
        }
        .button {
          margin-top: vw(40);
          margin-bottom: vw(40);
          margin-left: auto;
          margin-right: auto;
        }
        ul {
          li {
            @include fontvw(24);
            a {
              color: $black;
            }
          }
        }
        .note {
          margin-bottom: vw(80);
          @include fontvw(12);
          line-height: 180%;
        }
        .scroll-trigger {
          &:active {
            div {
              transform: rotateY(180deg);
            }
          }
          div {
            @include fitcenter();
            margin-left: auto;
            margin-right: auto;
            height: vw(40);
            width: vw(40);
            background-color: #F7F7F7;
            border-radius: 100%;
            will-change: transform; 
            transition: transform .3s $Power1easeIn;
            svg {
              width: vw(12);
            }
          }
          p {
            margin-top: vw(8);
            @include fontvw(12);
          }
        }
      }
      &.common {
        .wrapper {
          margin-bottom: vw(64);
          margin-left: auto;
          margin-right: auto;
          display: block;
          // width: calc( 1200 / 1440 * 100%);
          &-image {
            margin-bottom: vw(40);
            // width: calc( 590 / 1200 * 100%);
          }
          &-content {
            margin-left: auto;
            margin-right: auto;
            width: vw(354);
          }
          &-title {
            margin-bottom: vw(24);
            line-height: 1;
            @include fontvw(28);
          }
          &-who {
            span {
              display: block;
              &.medium {
                margin-bottom: vw(16);
                @include fontvw(13);
              }
              &.semibold {
                margin-bottom: vw(32);
                @include fontvw(24);
                line-height: 1.4;
              }
            }
          }
          h5 {
            margin-bottom: vw(32);
            @include fontvw(16);
            line-height: 160%;
          }
          p {
            margin-bottom: vw(32);
            @include fontvw(13);
            line-height: 200%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  #contentTop {
    .button {
      position: relative;
      @include fitcenter();
      justify-content: space-between;
      height: rem(56);
      width: rem(183);
      padding: 0 rem(16);
      background-color: $accent1;
      &:hover {
        &::before {
          opacity: 1;
        }
        .button-text {
          transform: translate3d(rem(5), 0, 0);
        }
        .button-arrow {
          svg {
            &:nth-child(1) {
              transform: translate3d(rem(16), rem(-16), 0);
            }
            &:nth-child(2) {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
      &::before {
        content: '';
        @include center();
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.1);
        opacity: 0;
        will-change: opacity;
        transition: opacity .5s $Power1easeInOut;
      }
      &.long {
        width: rem(386);
        background-color: $black;
      }
      &-arrow {
        position: relative;
        height: rem(16);
        width: rem(16);
        svg {
          position: relative;
          display: block;
          will-change: transform;
          transition: transform .5s $Power1easeInOut;
          &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate3d(rem(-16), rem(16), 0);
          }
        }
      }
      &-text {
        position: relative;
        @include fontsize(12);
        color: $white;
        will-change: transform;
        transition: transform .5s $Power1easeInOut;
      }
    }
    .pv-section {
      &#section3 {
        .text {
          margin-top: rem(48);
          margin-bottom: rem(120);
          margin-right: 0;
          margin-left: auto;
          width: calc( 586 / 1440 * 100%);
          @include fontsize(13);
          line-height: 200%;
        }
        .parallax-area {
          // height: rem(810);
        }
        .section__inner {
          margin-left: auto;
          margin-right: auto;
          width: calc( 1200 / 1440 * 100%);
        }
      }
    }
    .section {
      &#top {

      }
      &#about {
        padding: rem(80) 0;
        h2 {
          margin-bottom: rem(40);
          @include fontsize(24);
          line-height: 180%;
        }
        p {
          @include fontsize(13);
          line-height: 200%;
        }
      }
      &#invitation {
        padding: rem(80) 0;
        background-color: #FBF7E5;
        .section__inner {
          margin-left: auto;
          margin-right: auto;
          width: calc( 1200 / 1440 * 100%);
        }
        .wrapper {
          margin-bottom: rem(48);
          div {
            width: calc(488 / 1200 * 100%);
          }
          h2 {
            @include fontsize(40);
            line-height: 120%;
            color: $accent3;
          }
          h3 {
            margin-bottom: rem(32);
            @include fontsize(22);
            line-height: 160%;
          }
          p {
            @include fontsize(13);
            line-height: 160%;
          }
        }
        .image {
          margin-left: auto;
          margin-right: auto;
          width: calc( 794 / 1200 * 100%);
        }
      }
      &#index {
        padding: rem(64) 0 rem(120);
        .button {
          margin-left: auto;
          margin-right: auto;
          background-color: $black;
        }
        .section__inner {
          margin-left: auto;
          margin-right: auto;
          width: calc( 1200 / 1440 * 100%);
        }
        .wrapper {
          margin-bottom: rem(64);
          ul {
            width: calc( 373 / 1200 * 100%);
            li {
              margin-bottom: rem(44);
              &:last-child {
                margin-bottom: 0;
              }
              p {
                @for $i from 1 through 11 {
                  &.no#{$i} {
                    display: flex;
                    &::before {
                      content: '#{$i}.';
                      flex-shrink: 0;
                    }
                  }
                  &.no6 {
                    &::before {
                    content: '6&7.';
                    }
                  }
                } 
                &:nth-child(1) {
                  margin-bottom: rem(24);
                  @include fontsize(16);
                  line-height: 160%;
                  color: $accent3;
                }
                &:nth-child(2) {
                  @include fontsize(13);
                  line-height: 180%;
                  color: $gray;
                }
              }
            }
          }
        }
      }
      &#information {
        padding: rem(64) 0;
        background-color: #F7F7F7;
        .section__inner {
          margin-left: auto;
          margin-right: auto;
          width: calc( 1200 / 1440 * 100%);
          .wrapper {
            display: flex;
            justify-content: space-between;
            &-image {
              width: calc( 490 / 1200 * 100%);
            }
            &-content {
              width: calc( 590 / 1200 * 100%);
              h2 {
                padding-bottom: rem(24);
                margin-bottom: rem(40);
                @include fontsize(24);
                border-bottom: rem(1) solid $gray300;
              }
              .line-wrapper {
                .line {
                  margin-bottom: rem(32);
                  &:last-child {
                    margin-bottom: 0;
                  }
                  div {
                    &:nth-child(1) {
                      width: rem(112);
                      p {
                        @include fontsize(13);
                      }
                    }
                    &:nth-child(2) {
                      width: calc( 100% - rem(136));
                      p {
                        @include fontsize(13);
                        line-height: 180%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &#footer {
        padding: rem(120) 0 rem(80);
        h2 {
          margin-bottom: rem(32);
          @include fontsize(16);
        }
        .text {
          @include fontsize(13);
          line-height: 180%;
        }
        .button {
          margin-top: rem(48);
          margin-bottom: rem(53);
          margin-left: auto;
          margin-right: auto;
        }
        ul {
          li {
            @include fontsize(30);
            a {
              color: $black;
            }
          }
        }
        .note {
          margin-bottom: rem(80);
          @include fontsize(12);
          line-height: 180%;
        }
        .scroll-trigger {
          &:hover {
            div {
              transform: rotateY(180deg);
            }
          }
          div {
            @include fitcenter();
            margin-left: auto;
            margin-right: auto;
            height: rem(40);
            width: rem(40);
            background-color: #F7F7F7;
            border-radius: 100%;
            will-change: transform; 
            transition: transform .3s $Power1easeIn;
            svg {
              width: rem(12);
            }
          }
          p {
            margin-top: rem(8);
            @include fontsize(12);
          }
        }
      }
      &.common {
        .wrapper {
          margin-bottom: rem(120);
          margin-left: auto;
          margin-right: auto;
          width: calc( 1200 / 1440 * 100%);
          &-image {
            width: calc( 590 / 1200 * 100%);
          }
          &-content {
            width: calc( 488 / 1200 * 100%);
          }
          &-title {
            margin-bottom: rem(40);
            line-height: 1;
            @include fontsize(40);
          }
          &-who {
            span {
              display: block;
              &.medium {
                margin-bottom: rem(16);
                @include fontsize(16);
              }
              &.semibold {
                margin-bottom: rem(48);
                @include fontsize(32);
                line-height: 1.4;
              }
            }
          }
          h5 {
            margin-bottom: rem(32);
            @include fontsize(20);
            line-height: 160%;
          }
          p {
            margin-bottom: rem(48);
            @include fontsize(13);
            line-height: 200%;
          }
        }
      }
    }
  }
}